@-webkit-keyframes loaderHide {
  0% {
    visibility: visible;
  }
  100% {
    width: 0px;
    height: 0px;
    visibility: hidden;
  }
}

@keyframes loaderHide {
  0% {
    visibility: visible;
  }
  100% {
    width: 0px;
    height: 0px;
    visibility: hidden;
  }
}

@-webkit-keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    visibility: visible;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    visibility: visible;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes bodyHide {
  0% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes bodyHide {
  0% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes cardScale {
  0% {
    visibility: visible;
  }
  25% {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
  50% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  100% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
}

@keyframes cardScale {
  0% {
    visibility: visible;
  }
  25% {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
  50% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  100% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
}

@-webkit-keyframes likeAnim {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.50;
  }
  100% {
    opacity: 1;
  }
}

@keyframes likeAnim {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.50;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes checkMarkBGAnim {
  0% {
    width: 0px;
  }
  100% {
    width: 100px;
    visibility: visible;
  }
}

@keyframes checkMarkBGAnim {
  0% {
    width: 0px;
  }
  100% {
    width: 100px;
    visibility: visible;
  }
}

@-webkit-keyframes rotateAnim {
  0% {
    visibility: visible;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    visibility: visible;
  }
}

@keyframes rotateAnim {
  0% {
    visibility: visible;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    visibility: visible;
  }
}

@-webkit-keyframes menuHide {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes menuHide {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes checkMarkHideAnim {
  0% {
    visibility: visible;
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    visibility: visible;
  }
}

@keyframes checkMarkHideAnim {
  0% {
    visibility: visible;
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    visibility: visible;
  }
}

@-webkit-keyframes animMoving {
  0% {
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}

@keyframes animMoving {
  0% {
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}

.btnResto {
  max-width: 195px;
  margin-top: 20px;
  background: radial-gradient(#FF79DA, #9356dc);
  border-radius: 20px;
  max-height: 50px;
  color: white;
  position: relative;
  z-index: 1;
}

.btnResto:hover::after, .btnResto:active::after {
  opacity: 1;
}

.btnResto::after {
  content: "";
  border-radius: 20px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(circle, #ff93e1 0%, #ae80e5 100%);
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
}

.btnText {
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 200px;
  min-height: 45px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btnIcon {
  color: #4D4D4D;
  margin-left: 20px;
  width: 35px;
}

.btnHome {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 20px;
  min-width: 50px;
  min-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btnHome:visited {
  color: black;
  text-decoration: none;
}

.groupBtnIcons {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 3px 3px #0000002e;
          box-shadow: 0px 3px 3px #0000002e;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  padding: 1.5rem;
  background: #F6F6F6;
  cursor: pointer;
  width: 75%;
  border-radius: 20px;
  z-index: 1;
  color: black;
}

.btn:hover, .btn:active {
  -webkit-animation: likeAnim cubic-bezier(0.5, 0, 0.5, 1) 550ms;
          animation: likeAnim cubic-bezier(0.5, 0, 0.5, 1) 550ms;
}

.progress__bar {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.likeIcon {
  min-width: 35px;
  max-height: 35px;
  margin-right: 15px;
  margin-top: 13px;
  background-image: url("../images/icons/heart.svg");
  cursor: pointer;
}

.likeIcon:hover, .likeIcon:active {
  background-image: url("../images/icons/heart-fil.svg");
  -webkit-animation: likeAnim cubic-bezier(0.5, 0, 0.5, 1) 250ms;
          animation: likeAnim cubic-bezier(0.5, 0, 0.5, 1) 250ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.likeIconMenu {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: -40px;
  max-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 35px;
  min-height: 35px;
  background-image: url("../images/icons/heart.svg");
  cursor: pointer;
}

.likeIconMenu:hover, .likeIconMenu:active {
  background-image: url("../images/icons/heart-fil.svg");
  -webkit-animation: likeAnim cubic-bezier(0.5, 0, 0.5, 1) 250ms;
          animation: likeAnim cubic-bezier(0.5, 0, 0.5, 1) 250ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loaderBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lds-ring {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 1000px;
  height: 150px;
  -webkit-animation: loaderHide cubic-bezier(0.5, 0, 0.5, 1) 1900ms;
          animation: loaderHide cubic-bezier(0.5, 0, 0.5, 1) 1900ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.lds-ring div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  position: absolute;
  width: 200px;
  height: 200px;
  margin: 8px;
  border: 8px solid #000;
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) 500ms;
          animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) 500ms;
  visibility: hidden;
  border-color: #000 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  -webkit-animation-delay: -0.10s;
          animation-delay: -0.10s;
}

.lds-ring div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

body {
  width: auto;
  margin: auto;
  font-size: 16px;
}

#logoBlock {
  margin-top: 20px;
  font-family: 'Shrikhand';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main {
  font-family: 'Roboto';
}

.loaderMain {
  -webkit-animation: bodyHide cubic-bezier(0.5, 0, 0.5, 1) 800ms;
          animation: bodyHide cubic-bezier(0.5, 0, 0.5, 1) 800ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1600ms;
          animation-delay: 1600ms;
  opacity: 0;
  overflow: hidden;
  width: auto;
}

#fonctionBlock {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.numberIcon {
  color: white;
  background-color: #9356dc;
  border-radius: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 25px;
  width: 25px;
  margin: -3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.titleBlock {
  font-weight: bold;
  margin-left: 10px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

#restoBlock {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #F6F6F6;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rCard {
  margin-top: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 16px #0000002e;
          box-shadow: 0 0 16px #0000002e;
  max-height: 100%;
  color: black;
}

.rCard:hover, .rCard:active {
  -webkit-animation: cardScale cubic-bezier(0.5, 0, 0.5, 1) 80ms;
          animation: cardScale cubic-bezier(0.5, 0, 0.5, 1) 80ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.rCard__newIcon {
  color: #008766;
  background-color: #99e2d0;
  font-weight: bold;
  padding: 5px;
  position: absolute;
  top: 1rem;
  right: .75rem;
}

.rCard__rText {
  margin-top: -10px;
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rCard__rTextChild {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
}

.rCard__rsubText {
  margin-left: 10px;
  margin-top: -20px;
  max-width: 100%;
  font-size: 16px;
}

.rImg {
  border-radius: 20px 20px 0px 0px;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

.logoMenuBlock {
  font-family: 'Shrikhand';
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 40px;
}

.logoText {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menuLoader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 65px;
  overflow: hidden;
  -webkit-animation: menuHide cubic-bezier(0.5, 0, 0.5, 1) 1600ms;
          animation: menuHide cubic-bezier(0.5, 0, 0.5, 1) 1600ms;
}

.menuBlock {
  border-radius: 40px 40px 0 0;
  background-color: #F6F6F6;
  margin-top: -30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 1150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menuImg1 {
  height: 230px;
  background-image: url("../images/restaurants/1.jpg");
  background-size: cover;
}

.menuImg2 {
  height: 230px;
  background-image: url("../images/restaurants/2.jpg");
  background-size: cover;
}

.menuImg3 {
  height: 230px;
  background-image: url("../images/restaurants/3.jpg");
  background-size: cover;
}

.menuImg4 {
  height: 230px;
  background-image: url("../images/restaurants/4.jpg");
  background-size: cover;
}

.menuTextCard {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 16px #0000002e;
          box-shadow: 0 0 16px #0000002e;
  height: 67px;
  color: black;
  cursor: pointer;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menuTextCard__checkMarkBG {
  background-color: #99e2d0;
  border-radius: 0px 20px 20px 0px;
  -webkit-transition-duration: 1.5s;
          transition-duration: 1.5s;
  visibility: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menuTextCard__checkMarkRegroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menuTextCard__checkmarkIconBG {
  height: 26px;
  width: 26px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100px;
}

.menuTextCard__checkMarkIcon {
  color: #99e2d0;
}

.menuTextCard:hover > .menuTextCard__checkMarkRegroup > .menuTextCard__checkMarkBG {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation: checkMarkBGAnim cubic-bezier(0.5, 0, 0.5, 1) 800ms;
          animation: checkMarkBGAnim cubic-bezier(0.5, 0, 0.5, 1) 800ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.menuTextCard:hover > .menuTextCard__checkMarkRegroup > .menuTextCard__checkMarkBG > .menuTextCard__checkmarkIconBG {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation: rotateAnim cubic-bezier(0.5, 0, 0.5, 1) 800ms;
          animation: rotateAnim cubic-bezier(0.5, 0, 0.5, 1) 800ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.menuTextRegroup {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.menuText {
  margin-top: 10px;
  margin-left: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.menuTextChild {
  margin-top: -15px;
  margin-left: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.price {
  margin-bottom: 15px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menutitleText {
  font-family: 'Shrikhand';
  margin-top: -40px;
  margin-left: 30px;
  max-height: 20px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.menuSubTitle {
  margin-left: 30px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 30px;
  border-bottom: solid;
  border-color: #99e2d0;
}

@media screen and (min-width: 1200px) {
  /*desktop and more*/
  #logoBlock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 40px;
  }
  #subTitle2 {
    font-size: 19px;
  }
  body {
    max-width: 70%;
  }
  .numberIcon {
    margin-left: -40px;
  }
  #locationText {
    font-size: 20px;
  }
  .titleBlock {
    width: 95%;
  }
  #restoBlock {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    min-height: 620px;
  }
  .rCard {
    width: 45%;
  }
  .price {
    font-size: 15px;
  }
  .menuTextCard {
    width: 78%;
  }
  .menuTextChild {
    font-size: 15px;
  }
  .likeIconMenu {
    margin-right: 100px;
  }
  #exploreResto {
    min-height: 300px;
  }
  #locationBlock {
    width: 100%;
  }
  #fonctionBlock {
    min-height: 300px;
  }
}

@media screen and (min-width: 487px) and (max-width: 1199px) {
  /*Ipad*/
  #logoBlock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 40px;
  }
  #subTitle2 {
    font-size: 18px;
  }
  .rCard {
    width: 80%;
  }
  .likeIconMenu {
    margin-right: 70px;
  }
  .numberIcon {
    margin-left: -35px;
  }
  #exploreResto {
    min-height: 300px;
  }
  #restoBlock {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 1050px;
  }
  .price {
    font-size: 15px;
    margin-right: 11px;
  }
  .menuTextCard {
    width: 88%;
  }
  .menuTextChild {
    font-size: 15px;
  }
  #locationBlock {
    width: 100%;
  }
  #fonctionBlock {
    min-height: 300px;
  }
  .menuTextCard:active > .menuTextCard__checkMarkRegroup > .menuTextCard__checkMarkBG {
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    -webkit-animation: checkMarkBGAnim cubic-bezier(0.5, 0, 0.5, 1) 800ms;
            animation: checkMarkBGAnim cubic-bezier(0.5, 0, 0.5, 1) 800ms;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  .menuTextCard:active > .menuTextCard__checkMarkRegroup > .menuTextCard__checkMarkBG > .menuTextCard__checkmarkIconBG {
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    -webkit-animation: rotateAnim cubic-bezier(0.5, 0, 0.5, 1) 800ms;
            animation: rotateAnim cubic-bezier(0.5, 0, 0.5, 1) 800ms;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }
}

@media screen and (max-width: 486px) {
  /*smartphone*/
  #logoBlock {
    font-size: 30px;
  }
  #subTitle2 {
    font-size: 19px;
  }
  header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #exploreResto {
    min-height: 300px;
  }
  #restoBlock {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 1050px;
  }
  .numberIcon {
    margin-left: -35px;
  }
  .menuTextCard:active .menuTextCard__checkMarkRegroup {
    -webkit-animation: checkMarkBGAnim cubic-bezier(0.5, 0, 0.5, 1) 800ms;
            animation: checkMarkBGAnim cubic-bezier(0.5, 0, 0.5, 1) 800ms;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  .rCard {
    width: 80%;
  }
  .menuTextCard {
    width: 80%;
  }
  .price {
    font-size: 14px;
  }
  .likeIconMenu {
    margin-right: 30px;
  }
  .menuTextChild {
    font-size: 14px;
  }
  #locationBlock {
    width: 100%;
  }
  #fonctionBlock {
    min-height: 300px;
  }
  .menuTextCard:active > .menuTextCard__checkMarkRegroup > .menuTextCard__checkMarkBG {
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    -webkit-animation: checkMarkBGAnim cubic-bezier(0.5, 0, 0.5, 1) 800ms;
            animation: checkMarkBGAnim cubic-bezier(0.5, 0, 0.5, 1) 800ms;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  .menuTextCard:active > .menuTextCard__checkMarkRegroup > .menuTextCard__checkMarkBG > .menuTextCard__checkmarkIconBG {
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    -webkit-animation: rotateAnim cubic-bezier(0.5, 0, 0.5, 1) 800ms;
            animation: rotateAnim cubic-bezier(0.5, 0, 0.5, 1) 800ms;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }
}

#locationBlock {
  margin-top: 10px;
  background-color: #EAEAEA;
  min-height: 40px;
  color: #353535;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#searchMap {
  margin-right: 10px;
}

#exploreResto {
  background-color: #F6F6F6;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#subTitle, #subTitle2 {
  margin-top: -15px;
  text-align: center;
}

#subTitle2 {
  color: #4D4D4D;
}

a:link {
  text-decoration: none;
}

#footerBlock {
  background-color: #4D4D4D;
  min-height: 200px;
  width: 100%;
}

#footLogo {
  padding: 15px;
  font-family: 'Shrikhand';
  color: white;
}

.footMenu {
  padding: 15px;
  margin-top: -15px;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fLine {
  margin-top: 10px;
  color: white;
}

.fLine:hover, .fLine:active {
  text-decoration: underline;
}

.footBlockLine {
  margin-top: 10px;
}
/*# sourceMappingURL=main.css.map */