@import "./utils/variables";
@import "./layouts/footer";

body {
    width: auto;
    margin: auto;
}

#logoBlock {
    margin-top: 20px;
    font-family: 'Shrikhand';
}

main {
    font-family: 'Roboto';
}

#locationBlock {
    margin-top: 10px;
    background-color: #EAEAEA;
    min-height: 40px;
    color: #353535;
    justify-content: center;
    align-items: center;
    display: flex;
}

#searchMap {
    margin-right: 10px;
}   

#exploreResto {

    background-color: $bgColor;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

#subTitle, #subTitle2 {

    text-align: center;
}

#subTitle2 {
    font-size: 19px;
    color: #4D4D4D;
}

a:link {
    text-decoration: none;
}

.bResto {
    background:radial-gradient(#FF79DA ,#9356DC);
    border-radius: 20px;
    color: white;
}

.bText {

    align-items: center;
    min-width: 200px;
    min-height: 45px;
    justify-content: center;
    display: flex;
}

#fonctionBlock {
    flex-direction: column;
    align-items: center;
    display: flex;
}

.titleBlock {
    font-weight: bold;
    margin-left: 10px;
}


.btn {
    display: flex;
    box-shadow: 0px 3px 3px #0000002e;
    justify-content: space-evenly;
    margin-top: 10px;
    padding: 1.5rem;
    background: $bgColor;
    cursor: pointer;
    width: 75%;
    border-radius: 20px;

    color: black;
  
          &--purple {
             background-color: $btnSecond;
            }
}

#restoBlock {
    flex-wrap: wrap;
    background-color: $bgColor;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.rCard {
    margin-top: 15px;

    display: flex;
    flex-wrap: wrap;
    background-color: white;

    margin-left: 20px;
    border-radius: 20px;
    box-shadow: 0 0 16px #0000002e;
    width: 80%;
    max-height: 100%;
    color:black;
  }

  .rImg {
    border-radius: 20px 20px 0px 0px;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height: 150px;
    object-fit: cover;
  }

  .rTextChild {
    min-height: 25px;
    margin-left: 10px;
    margin-top: 5px;
    display: flex;
    max-width: 100%;

}

.rsubText {
    margin-left: 10px;
    margin-top: -15px;
    max-width: 100%;
    font-size: 16px;
}

.logoMenuBlock {
    font-family: 'Shrikhand';
    width: 100%;
    display: flex;
    justify-content: start;
    font-size: 40px;
}



@media screen and (min-width: 1200px) { /*desktop and more*/

    #logoBlock {
        display: flex;
        justify-content: center;
        font-size: 40px;
    }

    body {
        padding: 40px;
        max-width: 60%;
    }

    
    #exploreResto {
        min-height: 300px;
    }

    #locationBlock {
        width: 100%;
    }

    #fonctionBlock {
        min-height: 300px;
    }

    #restoBlock {
        min-height: 1000px;
    }

}
  
  @media screen and (min-width: 768px) and (max-width: 1199px)  { /*Ipad*/
    #logoBlock {
        display: flex;
        justify-content: center;
        font-size: 40px;
    }

    
    #exploreResto {
        min-height: 300px;
    }

    #locationBlock {
        width: 100%;
    }

    #fonctionBlock {
        min-height: 300px;
    }

    #restoBlock {
        min-height: 1000px;
    }

  }

  
  @media screen and (max-width: 767px) { /*smartphone*/

    body  {
        font-size: 17px;
    }

    #logoBlock {
        font-size: 30px;
    }

    header {
        justify-content :center;
        flex-wrap: wrap;
        display :flex;
    }

    #exploreResto {
        min-height: 300px;
    }

    #locationBlock {
        width: 100%;
    }

    #fonctionBlock {
        min-height: 300px;
    }

    #restoBlock {
        min-height: 1000px;
    }

}
