#locationBlock {
    margin-top: 10px;
    background-color: #EAEAEA;
    min-height: 40px;
    color: #353535;
    justify-content: center;
    align-items: center;
    display: flex;
}

#searchMap {
    margin-right: 10px;
}   

#exploreResto {

    background-color: $bgColor;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

#subTitle, #subTitle2 {

    text-align: center;
}

#subTitle2 {
    font-size: 19px;
    color: #4D4D4D;
}

a:link {
    text-decoration: none;
}

