@keyframes loaderHide {
    0% {
        visibility: visible;
    }

    100% {
        width: 0px;
        height: 0px;
        visibility: hidden;
 
    }
  }

  @keyframes lds-ring {
    0% { 
      transform: rotate(0deg);
    }

    100% {
        visibility: visible;
        transform: rotate(360deg);
    }
  }

  @keyframes bodyHide {
    0% {
        transform: translateY(15px);
    }

    100% {
        opacity: 1;
 
    }
  }



  @keyframes cardScale {
    0% {
        visibility: visible;
    }

    25% {
        transform: scale(1.01);
    }

    50% {
        transform: scale(1.02);
    }



    100% {
        transform: scale(1.03);
    }
  }


  @keyframes likeAnim {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.50;
    }
    100% {
      opacity: 1;
    }
  }


  
@keyframes checkMarkBGAnim {
    0% {
        visibility: visible;
        width: 0px;
    }

    100% {
        width:calc(5%);
        visibility: visible;
    }
  }

  @keyframes menuHide {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
  }

  @keyframes checkMarkHide {
    0% {
        visibility: visible;
    }

    25% {
        transform: rotate(360deg);
    }

    100% {
        transform: translateX(-100px);
    }
  }
  @keyframes animMoving {
    0% {
      visibility: visible;
    }
    100% {
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
    }
  }