$bgColor: #F6F6F6;
$btnSecond: #f5edff;
$btnThird: #FF79DA;
$likeColor: #9356dc;
$footerColor: #4D4D4D;
$clr-btn: #15DEA5;
$checkColor: #8edec9;
$newIconColor: #99e2d0;
$newFontColor: #008766;

$loader-dur: 500ms;
$loader-delay: 50ms;
$main-delay: 1900ms;
$moving-delay: 800ms;
$moving-delay2: 1200ms;