$bgColor: #F6F6F6;
$btnSecond: #f5edff;
$btnThird: #FF79DA;
$likeColor: #9356dc;
$animationColor: #99e2d0;
$footerColor: #4D4D4D;
$clr-btn: #15DEA5;

$loader-dur: 800ms;
$loader-delay: 150ms;
$main-delay: 2800ms;