//Loader

.loaderBox {
    display: flex;
    width: auto;
    justify-content: center;
}

.lds-ring {
    display: flex;
    width: auto;
    justify-content: center;
    position: absolute;
    width: 1000px;
    height: 150px;
    animation: loaderHide cubic-bezier(0.5, 0, 0.5, 1) $main-delay;
    animation-fill-mode: forwards;
  }

  .lds-ring div {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    width: auto;

    position: absolute;
    width: 200px;
    height: 200px;
    margin: 8px;
    border: 8px solid #000;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) $loader-dur;
    visibility: hidden;
    border-color: #000 transparent transparent transparent;
  }

  .lds-ring div:nth-child(1) {
    animation-delay: -0.10s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }


body {
    width: auto;
    margin: auto;
    font-size: 16px;
}

#logoBlock {
    margin-top: 20px;
    font-family: 'Shrikhand';
    display: flex;
    justify-content: center;
}

main {
    font-family: 'Roboto';
}

.loaderMain {
    animation: bodyHide cubic-bezier(0.5, 0, 0.5, 1) $moving-delay;
    animation-fill-mode: forwards;
    animation-delay: 1600ms;
    opacity: 0;
    overflow: hidden;
    width: auto;
}


#fonctionBlock {
    flex-direction: column;
    align-items: center;
    display: flex;
}

.numberIcon {
    color: white;
    background-color: $likeColor;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    margin: -3px;
    display: flex;
}

.titleBlock {
    font-weight: bold;
    margin-left: 10px;
    align-self: flex-start;
}

#restoBlock {
    flex-wrap: wrap;
    background-color: $bgColor;
    align-items: center;
    display: flex;
}


.rCard {
    margin-top: 15px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 16px #0000002e;
    max-height: 100%;
    color:black;

    
    &:hover, &:active {
        animation: cardScale cubic-bezier(0.5, 0, 0.5, 1) 80ms;
        animation-fill-mode: both;
    }

    &__newIcon {
        color: $newFontColor;
        background-color: $newIconColor;
        font-weight: bold;
        padding: 5px;
        position: absolute;
        top: 1rem;
        right: .75rem;

    }

    
    &__rText {
        margin-top: -10px;
        min-height: 80px;
        display: flex;
        flex-direction: column;
    }

    &__rTextChild {
        margin-left: 10px;
        display: flex;
        max-width: 100%;
    }

    &__rsubText {
        margin-left: 10px;
        margin-top: -20px;
        max-width: 100%;
        font-size: 16px;
    }
}




  .rImg {
    border-radius: 20px 20px 0px 0px;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height: 150px;
    object-fit: cover;
  }


.logoMenuBlock {
    font-family: 'Shrikhand';
    width: 100%;

    justify-content: center;
    display: flex;

    font-size: 40px;
}

.logoText {

    justify-content: center;
    display: flex;
}

  .menuLoader {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    min-height: 65px;
    overflow: hidden;
    animation: menuHide cubic-bezier(0.5, 0, 0.5, 1) 1600ms;
  }

.menuBlock {
    border-radius: 40px 40px 0 0;
    background-color: $bgColor;
    margin-top: -30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 1150px;
    display: flex;
}

.menuImg1 {

    height: 230px;
    background-image: url('../images/restaurants/1.jpg');
    background-size: cover;
}

.menuImg2 {

    height: 230px;
    background-image: url('../images/restaurants/2.jpg');
    background-size: cover;
}

.menuImg3 {

    height: 230px;
    background-image: url('../images/restaurants/3.jpg');
    background-size: cover;
}

.menuImg4 {

    height: 230px;
    background-image: url('../images/restaurants/4.jpg');
    background-size: cover;
}


.menuTextCard {
    margin-top: 15px; 
    display: flex;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 16px #0000002e;
    height: 67px;
    color:black;
    cursor: pointer; 
    display: flex;
    justify-content: space-between;

      &__checkMarkBG {
        background-color: $newIconColor;
        border-radius: 0px 20px 20px 0px;
        transition-duration: 1.5s;
   
        visibility: hidden;
        align-items: center;
        justify-content: center;
        display:flex;

      }

      &__checkMarkRegroup {

          display: flex;
      }

      &__checkmarkIconBG {
        height: 26px;
        width: 26px;
        transform: rotate(180deg);
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
      }

      

  &__checkMarkIcon {
    color: $newIconColor;
  }

}

.menuTextCard:hover > .menuTextCard__checkMarkRegroup > .menuTextCard__checkMarkBG 
{
 
   animation-delay: 2s;
   animation: checkMarkBGAnim cubic-bezier(0.5, 0, 0.5, 1) 800ms;
   animation-fill-mode: forwards;
}

.menuTextCard:hover > .menuTextCard__checkMarkRegroup > .menuTextCard__checkMarkBG > .menuTextCard__checkmarkIconBG
{
 
   animation-delay: 2s;
   animation: rotateAnim cubic-bezier(0.5, 0, 0.5, 1) 800ms;
   animation-fill-mode: both;
}


.menuTextRegroup {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.menuText {
    margin-top: 10px;
    margin-left: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

}

.menuTextChild {
    margin-top: -15px;
    margin-left: 10px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}



.price {
  
    margin-bottom: 15px;
    align-self: flex-end;
    font-weight: bold;
    display: flex;
}


.menutitleText {
    font-family: 'Shrikhand';
    margin-top: -40px;
    margin-left: 30px;
    max-height: 20px;
    align-self: flex-start; 
}

.menuSubTitle {
    margin-left: 30px;
    align-self: flex-start;
    margin-top: 30px;
    border-bottom: solid;
    border-color: $newIconColor;
}



@media screen and (min-width: 1200px) { /*desktop and more*/

    #logoBlock {
        display: flex;
        justify-content: center;
        font-size: 40px;
    }

    #subTitle2 {
        font-size: 19px;
    }

    body {
        max-width: 70%;
    }

    .numberIcon {
        margin-left: -40px;
    }

    #locationText {
        font-size: 20px;
    }

    .titleBlock {
        width: 95%;
    }

    #restoBlock {

        justify-content: space-around;
        min-height: 620px;
    }

    .rCard {
        width: 45%;
    }
    
    .price {
        font-size: 15px;

    }

    .menuTextCard {
        width: 78%;
    }

    .menuTextChild {
        font-size: 15px;
    }
    
    .likeIconMenu {
        margin-right: 100px;
    }

    #exploreResto {
        min-height: 300px;
    }

    #locationBlock {
        width: 100%;
    }

    #fonctionBlock {
        min-height: 300px;
    }
}
  
  @media screen and (min-width: 487px) and (max-width: 1199px)  { /*Ipad*/

    #logoBlock {
        display: flex;
        justify-content: center;
        font-size: 40px;
    }

    #subTitle2 {
        font-size: 18px;
    }

    .rCard {
        width: 80%;
    }

    .likeIconMenu {
        margin-right: 70px;
    }


    
    .numberIcon {
        margin-left: -35px;
    }
    
    #exploreResto {
        min-height: 300px;
    }

    #restoBlock {
        flex-direction: column;
        min-height: 1050px;
    }

    
    .price {
        font-size: 15px;
        margin-right: -11px;
    }

    .menuTextCard {
        width: 88%;
    }

    .menuTextChild {
        font-size: 15px;
    }

    #locationBlock {
        width: 100%;
    }

    #fonctionBlock {
        min-height: 300px;
    }

    .menuTextCard:active > .menuTextCard__checkMarkRegroup > .menuTextCard__checkMarkBG 
{
 
   animation-delay: 2s;
   animation: checkMarkBGAnim cubic-bezier(0.5, 0, 0.5, 1) 800ms;
   animation-fill-mode: forwards;
}

.menuTextCard:active > .menuTextCard__checkMarkRegroup > .menuTextCard__checkMarkBG > .menuTextCard__checkmarkIconBG
{
 
   animation-delay: 2s;
   animation: rotateAnim cubic-bezier(0.5, 0, 0.5, 1) 800ms;
   animation-fill-mode: both;
}
  
}

  
  @media screen and (max-width: 486px) { /*smartphone*/


    #logoBlock {
        font-size: 30px;
    }

    
    #subTitle2 {
        font-size: 19px;
    }

    header {
        justify-content :center;
        flex-wrap: wrap;
        display :flex;
    }

    #exploreResto {
        min-height: 300px;
    }

    #restoBlock {
        flex-direction: column;
        min-height: 1050px;
    }

    .numberIcon {
        margin-left: -35px;
    }

    .menuTextCard {
        &:active &__checkMarkRegroup {
            animation: checkMarkBGAnim cubic-bezier(0.5, 0, 0.5, 1) $moving-delay;
            animation-fill-mode: forwards;
          }
    }


    .rCard {
        width: 80%;
    }

    .menuTextCard {
        width: 80%;
    }

    .price {
        font-size: 14px;
        margin-right: -11px;
    }

    .likeIconMenu {
        margin-right: 30px;
    }

    .menuTextChild {
        font-size: 14px;
    }
    
    #locationBlock {
        width: 100%;
    }

    #fonctionBlock {
        min-height: 300px;
    }

    .menuTextCard:active > .menuTextCard__checkMarkRegroup > .menuTextCard__checkMarkBG 
    {
     
       animation-delay: 2s;
       animation: checkMarkBGAnim cubic-bezier(0.5, 0, 0.5, 1) 800ms;
       animation-fill-mode: forwards;
    }
    
    .menuTextCard:active > .menuTextCard__checkMarkRegroup > .menuTextCard__checkMarkBG > .menuTextCard__checkmarkIconBG
    {
     
       animation-delay: 2s;
       animation: rotateAnim cubic-bezier(0.5, 0, 0.5, 1) 800ms;
       animation-fill-mode: both;
    }

}
