.btnResto {
    max-width: 195px;
    margin-top: 20px;
    background: radial-gradient($btnThird, $likeColor);
    border-radius: 20px;
    max-height: 50px;
    color: white;
    position: relative;
    z-index: 1;
    &:hover {
        &::after {
            opacity: 1;
        }
    }

    &::after {
          content: "";
          border-radius: 20px;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: radial-gradient(circle, lighten($btnThird, 5) 0%, lighten($likeColor, 10) 100%);
          opacity: 0;
          z-index: -1;
          transition: opacity 250ms;
      }
}

.btnText {

    align-self: center;
    align-items: center;
    min-width: 200px;
    min-height: 45px;
    justify-content: center;
    display: flex;
}

.btnIcon {
    color: $footerColor;
    margin-left: 20px;
    width: 35px;
}

.btnHome {
    
    align-items: center;
    align-self: center;
    font-size: 20px;
    min-width: 50px;
    min-height: 30px;

    display: flex;
    &:visited {
        color: black;
        text-decoration: none;
    }
    
}


.groupBtnIcons {

    align-items: center;

    display: flex;
}

.btn {
    display: flex;
    box-shadow: 0px 3px 3px #0000002e;
    align-items: center;

    margin-top: 10px;
    padding: 1.5rem;
    background: $bgColor;
    cursor: pointer;
    width: 75%;
    border-radius: 20px;

    color: black;
  
          &--purple {
             background-color: $btnSecond;
            }
}

.progress {
    &__bar {
        transform: scaleY(0);
    }
}

.likeIcon {
    min-width: 35px;
    max-height: 35px;
    margin-right: 15px;
    margin-top: 13px;
    background-image: url('../images/icons/heart.svg');
    cursor: pointer; 

    &:hover {
        background-image: url('../images/icons/heart-fil.svg');
        animation: likeAnim cubic-bezier(0.5, 0, 0.5, 1) 250ms;
        animation-fill-mode: forwards;

        color: red;
        fill: red;
    }
}

.likeIconMenu {
    align-self: flex-end;
    margin-top: -40px;
    max-height: 20px;
    display: flex;

    min-width: 35px;
    min-height: 35px;
    background-image: url('../images/icons/heart.svg');
    cursor: pointer; 
    

    &:hover {
        background-image: url('../images/icons/heart-fil.svg');
        animation: likeAnim cubic-bezier(0.5, 0, 0.5, 1) 250ms;
        animation-fill-mode: forwards;

        color: red;
        fill: red;
    }
}

@keyframes likeAnim {
    0% { 
        opacity: 0;
    }

    50% {
        opacity: 0.50;
    }

    100% {
        opacity: 1;
    }
  }

